<% layout('layout') %>
<div class="row">
    <div class="col-10 offset-1 col-md-6 offset-md-3">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading"><%= title %></h4>
            <p>ExpressJS Ready to Use</p>
        </div>
    </div>
</div>
